.task-list{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
  /*    border: 1px solid green; */
    list-style-type: none;
    height: 70vh;
    width: 80vw;
    overflow-y: scroll;
}


.task-item{
    background-color: hsla(0, 0%, 0%, 0.03);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
    width: 70vw;
    /* text-align: left; */
    margin:1rem;
    padding: .7rem;
}

