.submit-button {
    padding:.5rem 1rem;
    /* cursor: pointer;  */
}

.submit-button:hover {
    background-color: black;
    color: white;
}

.delete-button {
    background-color: blue;
    width: 100px;
    text-align: right;
    width: 32px;
    height: 32px;
}

.todo-title-img{
    display: flex;
    
    width: 10rem;
    height: 10rem;
}