.submit-button {
    padding:.5rem 1rem;
    /* cursor: pointer;  */
}

.submit-button:hover {
    background-color: black;
    color: white;
}

.delete-button {
    background-color: blue;
    width: 100px;
    text-align: right;
}